@PrefixCls: lanmutab;
.@{PrefixCls}-outer {
  background: #fff;
}
.@{PrefixCls}-fixeditem {
  & span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  & img {
    width: 180px;
    height: 140px;
  }
}
.@{PrefixCls}-fixeditem {
  & img {
    width: 100px;
    height: 100px;
  }
}


